.simplecolumn {
    position: relative;
    display: flex;
}
.simplecolumn div:nth-child(1) {
    position: absolute;
    height: 120px;
    width: 170px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    text-align: left;
    top: 5px;
    left: 0;
}
.simplecolumn div:nth-child(2) {
    position: absolute;
    height: 100px;
    width: 120px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    text-align: left;
    top: 90px;
    left: 130px;

}
.simplecolumn div:nth-child(3) {
    position: absolute;
    height: 100px;
    width: 300px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    text-align: left;
    top: 180px;
    left: 5px;

}
.simplecolumn div:nth-child(4) {
    position: absolute;
    height: 245px;
    width: 80px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    text-align: left;
    top: 0;
    left: 280px;

}
